<!DOCTYPE html>
<html lang="en" ng-app="assembler">
<head>
    <meta charset="UTF-8">
    <title>Online assembler</title>
    <script type='text/javascript' src='jquery-2.1.4.min.js'></script>
    <script src="jquery-ui.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-sanitize.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.3.min.js"></script>

    <script src="codemirror.js"></script>
    <link href="codemirror.css" rel="stylesheet" media="all"/>

    <script src="assembler.js"></script>
    <script src="asm_mode.js"></script>
    <script src="interface.js"></script>
    <script src="emulator.js"></script>
    <script src="help.js"></script>
    <link href="style.css" rel="stylesheet" media="all"/>
</head>
<body>
    <div ng-controller="AssemblerController as asm" ng-init="asm.init()" class="code">
        <div id="assembler_code_entry" class="well well-lg asm_panel">
            <div class="btn-group tool dark">
                <button type="button" class="btn btn-default dropdown-toggle dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Reference <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dark">
                    <li ng-repeat="inst in asm.instructionList" class="dark"><a href="#" ng-click="asm.showHelp(inst)" class="dark">{{inst}}</a></li>
                </ul>
            </div>
            <button type="button" class="btn btn-default tool dark" ng-click="asm.assemble()">Assemble</button>
            <ul class="nav nav-tabs">
                <li role="presentation" ng-repeat="tab in asm.tabs track by $index" ng-class="{active: $index == asm.selectedTab}">
                    <a ng-click="asm.selectTab($index)" href="javascript:void(0)" ng-if="$index != asm.selectedTab">{{tab.name}}</a>
                    <div ng-if="$index == asm.selectedTab" class="centered">
                        <input type="text" ng-model="tab.name" class="tab_name_input">
                        <a href="javascript:void(0)" ng-click="asm.deleteTab($index)" ng-if="asm.tabs.length > 1">-</a>
                    </div>
                </li>
                <li role="presentation"><a ng-click="asm.createTab('New tab', '')" href="javascript:void(0)"><b>+</b></a></li>
            </ul>
            <!--div id="asm_code_mirror">

            </div-->
            <textarea id="asm_code" class="code" ng-model="code"></textarea>
            <div id="asm_output">
                    {{asm.code}}
                <!--<div class="code_line" ng-repeat="l in asm.code.split('\n') track by $index">
                    {{l}}
                </div>-->
            </div>
            <div id="errors" ng-bind-html="asm.errors">

            </div>
        </div>
    </div>
</body>
</html>